<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>NativeSetPerformanceTests</key>
		<dict>
			<key>testCreationPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.078</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:32 AM</string>
				</dict>
			</dict>
			<key>testDeletePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.077165</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:35 AM</string>
				</dict>
			</dict>
			<key>testDisjointWithPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10661</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:43 AM</string>
				</dict>
			</dict>
			<key>testIntersectionInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.51126</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:48 AM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.51567</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:51 AM</string>
				</dict>
			</dict>
			<key>testOverallPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0098</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:54 AM</string>
				</dict>
			</dict>
			<key>testStrictSubsetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1006</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:41:57 AM</string>
				</dict>
			</dict>
			<key>testStrictSupersetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSubsetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1008</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:02 AM</string>
				</dict>
			</dict>
			<key>testSubtractInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.076837</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:05 AM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.080334</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:08 AM</string>
				</dict>
			</dict>
			<key>testSupersetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testUnionInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.098706</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:13 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10094</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:17 AM</string>
				</dict>
			</dict>
			<key>testXORInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.14013</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:20 AM</string>
				</dict>
			</dict>
			<key>testXORPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13986</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 1, 2016, 6:42:22 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
