<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>RangeMapPerformanceTests</key>
		<dict>
			<key>testAppendContentsOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.037443</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2016, 7:01:29 AM</string>
				</dict>
			</dict>
			<key>testInsertElementPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.9858</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2016, 7:01:29 AM</string>
				</dict>
			</dict>
			<key>testInsertIndicesPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4626</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2016, 7:01:29 AM</string>
				</dict>
			</dict>
			<key>testInvertInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.8716e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2016, 7:01:29 AM</string>
				</dict>
			</dict>
			<key>testInvertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.8106e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2016, 7:01:29 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
