<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitMapTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>GenerateTestData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>JSONSerializationTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>MoonKit Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MoonKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MoonKitLite.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MoonKitOSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MoonKitTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Moonkit Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NativeSetPerformanceTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>NativeSetTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>OrderedDictionaryTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>OrderedSetTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>PropertyListParserTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>RangeMapTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>TransformTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>WeakArrayTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C20DF9731D0B6873000665E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C21C3B711CF8B032000D537A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2358F1519C78D6D00920F8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23F44351B55532700D09ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2416E321C88B62E00734CA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2416E461C88B98F00734CA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C246841C1CA451F800CB61EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C256F07D1ABDFFE5005B7CB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C256F0871ABDFFE5005B7CB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2736FE11CC116AD00E861A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C285D72B1AC44D3500C527F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A70E3F1ACD8EBA009C2CF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C482D119C9F98A002E84A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C65BBB1C970F38000645ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2D137591CFE090A00EE3863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2D1376A1CFE55A400EE3863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E55D0D1C9E4286004E7CB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2EE61801C7F8C760091C5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2FB2C5B1D0DA9D400982CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
