<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instruments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>MidiSprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2207B721B9DC5A300E4D65D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2207B7D1B9DC5EE00E4D65D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C283E7BE1B9F272C00B1690D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E043301B72F4DC005F0675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
