<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Groove-Profile.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Groove-Verbose.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Groove.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GrooveSelectorTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Instruments.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PerpetualGroove copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SoundFont.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SoundFontFile.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C20A109D1C51552B00522FD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2207B721B9DC5A300E4D65D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2207B7D1B9DC5EE00E4D65D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2226B2F1BD483E600D43250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23B05911C0219560081AC6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C25BF5B11C8CA74700F6BF5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2724AF31DE34200001D5C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2724B721DE3427E001D5C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C283E7BE1B9F272C00B1690D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C284F7C71C49C8A8009C72A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C28831911C78E8AC00F6865D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2BDBBC81BD3EEA700E343F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E043301B72F4DC005F0675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F778BB1DA3F78900AC7B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2FAAC7A1D99C7620089D1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2FAAC8A1D99C79D0089D1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
