<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subtests</key>
	<array>
		<dict>
			<key>PerformanceMetrics</key>
			<array>
				<dict>
					<key>BaselineAverage</key>
					<real>0.15525</real>
					<key>BaselineName</key>
					<string>Local Baseline</string>
					<key>Identifier</key>
					<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
					<key>MaxPercentRegression</key>
					<integer>10</integer>
					<key>MaxPercentRelativeStandardDeviation</key>
					<integer>10</integer>
					<key>MaxRegression</key>
					<real>0.10000000000000001</real>
					<key>MaxStandardDeviation</key>
					<real>0.10000000000000001</real>
					<key>Measurements</key>
					<array>
						<real>0.11162454600000001</real>
						<real>0.18490079000000001</real>
						<real>0.16682532999999999</real>
						<real>0.166004442</real>
						<real>0.16396802799999999</real>
						<real>0.16736647800000001</real>
						<real>0.16668433599999999</real>
						<real>0.16198454400000001</real>
						<real>0.16385017700000001</real>
						<real>0.15839913</real>
					</array>
					<key>Name</key>
					<string>Time</string>
					<key>UnitOfMeasurement</key>
					<string>seconds</string>
				</dict>
			</array>
			<key>TestIdentifier</key>
			<string>OrderedDictionaryPerformanceTests/testInsertValueForKeyPerformance()</string>
			<key>TestName</key>
			<string>testInsertValueForKeyPerformance()</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestSummary</string>
			<key>TestStatus</key>
			<string>Success</string>
			<key>TestSummaryGUID</key>
			<string>6861729D-EA6D-44A3-A49B-97BEF04F4F27</string>
		</dict>
		<dict>
			<key>PerformanceMetrics</key>
			<array>
				<dict>
					<key>BaselineAverage</key>
					<real>0.38169999999999998</real>
					<key>BaselineName</key>
					<string>May 25, 2016, 7:20:52 AM</string>
					<key>Identifier</key>
					<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
					<key>MaxPercentRegression</key>
					<integer>10</integer>
					<key>MaxPercentRelativeStandardDeviation</key>
					<integer>10</integer>
					<key>MaxRegression</key>
					<real>0.10000000000000001</real>
					<key>MaxStandardDeviation</key>
					<real>0.10000000000000001</real>
					<key>Measurements</key>
					<array>
						<real>0.39553471200000001</real>
						<real>0.39544263400000002</real>
						<real>0.40088641699999999</real>
						<real>0.40136458000000003</real>
						<real>0.40363773200000003</real>
						<real>0.39683162999999999</real>
						<real>0.39860546000000002</real>
						<real>0.39481618200000002</real>
						<real>0.402274309</real>
						<real>0.39425138599999998</real>
					</array>
					<key>Name</key>
					<string>Time</string>
					<key>UnitOfMeasurement</key>
					<string>seconds</string>
				</dict>
			</array>
			<key>TestIdentifier</key>
			<string>OrderedDictionaryPerformanceTests/testOverallPerformance()</string>
			<key>TestName</key>
			<string>testOverallPerformance()</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestSummary</string>
			<key>TestStatus</key>
			<string>Success</string>
			<key>TestSummaryGUID</key>
			<string>3285FC19-4502-4325-B48B-DC3262B73303</string>
		</dict>
		<dict>
			<key>FailureSummaries</key>
			<array>
				<dict>
					<key>FileName</key>
					<string>/Users/Moondeer/Projects/PerpetualGroove/Frameworks/MoonKit/OrderedDictionaryTests/OrderedDictionaryPerformanceTests.swift</string>
					<key>LineNumber</key>
					<integer>41</integer>
					<key>Message</key>
					<string>failed: Time average is 569% worse (max allowed: 10%).</string>
					<key>PerformanceFailure</key>
					<true/>
				</dict>
			</array>
			<key>PerformanceMetrics</key>
			<array>
				<dict>
					<key>BaselineAverage</key>
					<real>0.09171</real>
					<key>BaselineName</key>
					<string>Local Baseline</string>
					<key>Identifier</key>
					<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
					<key>MaxPercentRegression</key>
					<integer>10</integer>
					<key>MaxPercentRelativeStandardDeviation</key>
					<integer>10</integer>
					<key>MaxRegression</key>
					<real>0.10000000000000001</real>
					<key>MaxStandardDeviation</key>
					<real>0.10000000000000001</real>
					<key>Measurements</key>
					<array>
						<real>0.61691075299999998</real>
						<real>0.61683504</real>
						<real>0.61665684799999998</real>
						<real>0.61645478399999998</real>
						<real>0.61712898400000005</real>
						<real>0.61524738599999995</real>
						<real>0.60780837700000001</real>
						<real>0.605083174</real>
						<real>0.611933108</real>
						<real>0.61072429299999997</real>
					</array>
					<key>Name</key>
					<string>Time</string>
					<key>UnitOfMeasurement</key>
					<string>seconds</string>
				</dict>
			</array>
			<key>TestIdentifier</key>
			<string>OrderedDictionaryPerformanceTests/testRemoveValueForKeyPerformance()</string>
			<key>TestName</key>
			<string>testRemoveValueForKeyPerformance()</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestSummary</string>
			<key>TestStatus</key>
			<string>Failure</string>
			<key>TestSummaryGUID</key>
			<string>E2AA730B-3D2F-40EB-9E77-7728726AD518</string>
		</dict>
	</array>
	<key>TestIdentifier</key>
	<string>OrderedDictionaryPerformanceTests</string>
	<key>TestName</key>
	<string>OrderedDictionaryPerformanceTests</string>
	<key>TestObjectClass</key>
	<string>IDESchemeActionTestSummaryGroup</string>
</dict>
</plist>
