<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>OrderedDictionarySliceTests</key>
		<dict>
			<key>testInsertValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.050464</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 12:11:13 PM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18126</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 12:11:13 PM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18368</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 12:11:13 PM</string>
				</dict>
			</dict>
			<key>testRemoveValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.36585</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 12:11:13 PM</string>
				</dict>
			</dict>
		</dict>
		<key>OrderedDictionaryTests</key>
		<dict>
			<key>testDeletePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.325</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testInsertValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.054211</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 4:32:44 PM</string>
				</dict>
			</dict>
			<key>testInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18442</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 4:32:44 PM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1868</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 4:32:44 PM</string>
				</dict>
			</dict>
			<key>testPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0011857</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 4, 2016, 11:09:24 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0016981</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 4, 2016, 11:09:24 AM</string>
				</dict>
			</dict>
			<key>testRemoveValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.36349</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 16, 2016, 4:32:44 PM</string>
				</dict>
			</dict>
			<key>testSubscriptKeyDeletionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.32407</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSubscriptKeyInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.046045</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
