<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>OrderedDictionaryPerformanceTests</key>
		<dict>
			<key>testInsertValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.161</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 25, 2016, 7:30:34 AM</string>
				</dict>
			</dict>
			<key>testOverallPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.398</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 25, 2016, 7:32:15 AM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.37711</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.47503</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testRemoveValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.613</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 25, 2016, 7:30:19 AM</string>
				</dict>
			</dict>
		</dict>
		<key>OrderedDictionaryTests</key>
		<dict>
			<key>testInsertValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.17115</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 7:54:27 AM</string>
				</dict>
			</dict>
			<key>testOrdredDictionaryPerformance1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.096344</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOrdredDictionaryPerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16087</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.651</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 7:54:24 AM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.126</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 7:54:18 AM</string>
				</dict>
			</dict>
			<key>testRemoveValueForKeyPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.3728</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 7:54:13 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
