<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>OrderedSetPerformanceTests</key>
		<dict>
			<key>testCreationPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.58643</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testDeletePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.3631</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testDisjointWithPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.4615e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.081964</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testIntersectionInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.064156</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.064912</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeCreationPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0712</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeDeletePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.077104</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeDisjointWithPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0353</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10593</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeIntersectionInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.51403</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeIntersectionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.50828</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeOverallPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0016</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeStrictSubsetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0933</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeStrictSupersetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036263</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeSubsetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0911</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeSubtractInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.079572</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeSubtractPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.076131</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeSupersetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036321</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeUnionInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.097396</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.099674</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeXORInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13861</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testNativeXORPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13809</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testOverallPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4753</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testReplaceRangePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16787</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testStrictSubsetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.099743</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testStrictSupersetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00026329</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testSubsetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.099662</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testSubtractInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19862</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19258</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testSupersetOfPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00027182</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testUnionInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055254</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.074245</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testXORInPlacePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19204</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
			<key>testXORPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18546</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 4, 2016, 12:07:22 PM</string>
				</dict>
			</dict>
		</dict>
		<key>OrderedSetTests</key>
		<dict>
			<key>testDeletePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.6133</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10277</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25323</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.0382</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testOverallPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.0343</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.2371</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 5, 2016, 9:04:17 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23837</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 5, 2016, 9:04:17 AM</string>
				</dict>
			</dict>
			<key>testReplaceRangePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13954</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.082192</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.098841</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
			<key>testXORPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.095313</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 22, 2016, 8:48:16 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
