<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>OrderedSetTests</key>
		<dict>
			<key>testDeletePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025305</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testDeletePerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.0422</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testDeletePerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>16.039</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testDeletePerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.35417</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testExistingPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018799</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testExistingPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0024755</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testHashMapSubtract()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19917</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testInsertionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011847</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testInsertionPerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012859</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testInsertionPerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.07288</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testInsertionPerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055123</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testIntersection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0069449</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 23, 2016, 8:25:34 PM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013276</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013124</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.051952</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testIntersectionPerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036687</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testOldPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>124.71</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOldPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>122.76</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOrderedSetCOW()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.9397e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetCreation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19434</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00015382</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetInsertion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00019971</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetIntersection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.38011</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetMinus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.39351</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.357</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOrderedSetPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.357</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOrderedSetResize()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00014993</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetSubscriptAccessors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.7429e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetUnion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.38875</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testOrderedSetXOR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.38627</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>testPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21913</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithCapacityReserved2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0543</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithCapacityReserved3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>21.216</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithCapacityReserved4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.32301</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21924</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithoutCapacityReserved2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0653</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithoutCapacityReserved3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>10.768</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testPerformanceWithoutCapacityReserved4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.37553</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testReplaceRangePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0243</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testReplaceRangePerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084191</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testReplaceRangePerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>502.67</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testReplaceRangePerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.038</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSetBaselinePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.05132</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 23, 2016, 8:25:34 PM</string>
				</dict>
			</dict>
			<key>testSubtract()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022069</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 23, 2016, 8:25:34 PM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010106</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011118</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034236</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testSubtractPerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026653</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testUnion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0090601</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 23, 2016, 8:25:34 PM</string>
				</dict>
			</dict>
			<key>testUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0099213</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0091564</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.061055</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testXOR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.040219</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 23, 2016, 8:25:34 PM</string>
				</dict>
			</dict>
			<key>testXORPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017262</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testXORPerformance2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017232</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testXORPerformance3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03786</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>testXORPerformance4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029651</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Apr 11, 2016, 11:22:58 AM</string>
				</dict>
			</dict>
			<key>test_OrderedSetCOW()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00017706</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetCreation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23703</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetDeletion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00021831</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetInsertion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0002851</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetIntersection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44792</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetMinus()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.45042</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetPerformanceWithCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0092354</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetPerformanceWithoutCapacityReserved()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.014997</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetResize()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00025448</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetSubscriptAccessors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.0536e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetUnion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.60813</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
			<key>test_OrderedSetXOR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.44178</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 15, 2016, 5:15:18 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
