<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Groove Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.moondeerstudios.groove-document</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Yellow Design Studio - Eveleth Clean Regular.otf</string>
		<string>Yellow Design Studio - Eveleth Clean Shadow.otf</string>
		<string>Yellow Design Studio - Eveleth Clean Thin.otf</string>
		<string>Yellow Design Studio - Eveleth Dot Light.otf</string>
		<string>Yellow Design Studio - Eveleth Dot Regular Bold.otf</string>
		<string>Yellow Design Studio - Eveleth Dot Regular.otf</string>
		<string>Yellow Design Studio - Eveleth Icons.otf</string>
		<string>Yellow Design Studio - Eveleth Light.otf</string>
		<string>Yellow Design Studio - Eveleth Regular Bold.otf</string>
		<string>Yellow Design Studio - Eveleth Regular.otf</string>
		<string>Yellow Design Studio - Eveleth Shadow.otf</string>
		<string>Yellow Design Studio - Eveleth Shapes.otf</string>
		<string>Yellow Design Studio - Eveleth Slant Light.otf</string>
		<string>Yellow Design Studio - Eveleth Slant Regular Bold.otf</string>
		<string>Yellow Design Studio - Eveleth Slant Regular.otf</string>
		<string>Yellow Design Studio - Eveleth Thin.otf</string>
		<string>Latinotype - Triump-Rg-Blur-01.otf</string>
		<string>Latinotype - Triump-Rg-Blur-02.otf</string>
		<string>Latinotype - Triump-Rg-Blur-03.otf</string>
		<string>Latinotype - Triump-Rg-Blur-04.otf</string>
		<string>Latinotype - Triump-Rg-Blur-05.otf</string>
		<string>Latinotype - Triump-Rg-Blur-06.otf</string>
		<string>Latinotype - Triump-Rg-Blur-07.otf</string>
		<string>Latinotype - Triump-Rg-Blur-08.otf</string>
		<string>Latinotype - Triump-Rg-Blur-09.otf</string>
		<string>Latinotype - Triump-Rg-Blur-10.otf</string>
		<string>Latinotype - Triump-Rg-Blur-11.otf</string>
		<string>Latinotype - Triump-Rg-Blur-12.otf</string>
		<string>Latinotype - Triump-Rg-Extras.otf</string>
		<string>Latinotype - Triump-Rg-Ornaments.otf</string>
		<string>Latinotype - Triump-Rg-Rock-01.otf</string>
		<string>Latinotype - Triump-Rg-Rock-02.otf</string>
		<string>Latinotype - Triump-Rg-Rock-03.otf</string>
		<string>Latinotype - Triump-Rg-Rock-04.otf</string>
		<string>Latinotype - Triump-Rg-Rock-05.otf</string>
		<string>Latinotype - Triump-Rg-Rock-06.otf</string>
		<string>Latinotype - Triump-Rg-Rock-07.otf</string>
		<string>Latinotype - Triump-Rg-Rock-08.otf</string>
		<string>Latinotype - Triump-Rg-Rock-09.otf</string>
		<string>Latinotype - Triump-Rg-Rock-10.otf</string>
		<string>Latinotype - Triump-Rg-Rock-11.otf</string>
		<string>Latinotype - Triump-Rg-Rock-12.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Groove Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.moondeerstudios.groove-document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>groove</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Groove Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.moondeerstudios.groove-document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>groove</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
